.view-container
  .display.scorecontainer.clearfix
    h2 Highscore
    ul
      - each score in list
        li #{score.score} - #{score.username}
      
      - if (list.length === 0)
        li Game is currently inactive

    .display-overlay