.view-container
  .display.listcontainer
    h2 Highscore
    ul
      - each score in list
        li 
          a(href="/profile/#{score.userId}") #{score.score} - #{score.userName}
      
      - if (list.length === 0)
        li Game is currently inactive

    .display-overlay
    .display-gradient