
.view-container
  - if(!everyauth.loggedIn)
    #view-login.view-content
      h2 Login
      .login-container
        ul
          li
            a(href="/auth/twitter") Login with Twitter
          li
            a(href="/auth/facebook") Login with Facebook
  - else
    script(type="text/javascript")
      var host = "#{host}";
      var port = "#{port}";
    script(type="text/javascript", src="/client.js")
    #view-wait.view-content
      .display
        .display-overlay
        h2 PLEASE WAIT FOR THE NEXT QUESTION
        #countwait
    #view-game.view-content
      .display.with-background.clearfix
        #left-pane
          h3 SCOREBOARD
          ul#scoreboard

        #right-pane
          h2#question Question
          ul#answers
            li
              #a1.clickable Answer 1
            li
              #a2.clickable Answer 2
            li
              #a3.clickable Answer 3
            li
              #a4.clickable Answer 4  
          
          .countdown COUNTDOWN&nbsp
            span#countdown

        .display-overlay

      .chat CHAT
        input(type='text', id='chat-msg')

      .slot
        
      .paper
        Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.

    h3 Messages
    .notice-container
    ul#alert
    ul#notice

    - if (everyauth.user)
      #userid(style="display: none;") #{everyauth.user.id}