.view-container
  - if(!everyauth.loggedIn)
    #view-login.view-content
      .login-container
        .display.listcontainer.clearfix
          h2 Welcome
          ul
            li
              a.clickable(href="/auth/twitter") Login with Twitter
            li
              a.clickable(href="/auth/facebook") Login with Facebook

          .display-overlay

  - else
    script(type="text/javascript")
      var host = "#{host}";
      var port = "#{port}";
    script(type="text/javascript", src="/client.js")
    #view-wait.view-content
      .display
        .display-overlay
        h2 PLEASE WAIT FOR THE NEXT QUESTION
        #countwait
    #view-game.view-content
      .display.with-background.clearfix
        #left-pane
          h3 SCOREBOARD
          ul#scoreboard

        #right-pane
          h2#question Question
          ul#answers
            li
              #a1.clickable Answer 1
            li
              #a2.clickable Answer 2
            li
              #a3.clickable Answer 3
            li
              #a4.clickable Answer 4  
          
          .countdown COUNTDOWN&nbsp
            span#countdown

        .display-overlay

      .chat CHAT
        form#chat-form
          input(type='text', id='chat-msg')
        .display-overlay

      .slot

      .paper
        .slot-shadow
        ul#messages
        .paper-bottom

    - if (everyauth.user)
      #userid(style="display: none;") #{everyauth.user.id}