.view-container
  .display
    - if(!everyauth.loggedIn)
      script(type="text/javascript", src="/image.js")
      script(type="text/javascript", src="/particle.js")
      script(type="text/javascript", src="/intro.js")
      #view-login
        h2 Welcome
        ul
          li
            a.clickable(href="/auth/twitter") Login with Twitter
          li
            a.clickable(href="/auth/facebook") Login with Facebook
          li
            a.clickable(href="/auth/github") Login with Github

    - else
      script(type="text/javascript")
        var host = "#{host}";
        var port = "#{port}";
      script(src='socket.io/socket.io.js', type='text/javascript')
      script(type="text/javascript", src="/pixelize.js")
      script(type="text/javascript", src="/client.js")
      #view-wait
        h2#header-countwait Please wait for the next question
        #countwait
      #view-game.view-content
        #left-pane
          img#profile-image
          #canvas-container
          h3#profile-name Profile
          #progress-starter
            h4 Profiling Data
            .progress-background
              #bar-starter.progress-bar
          #progress-dna
            h4 Frontend
            .progress-background
              #bar-frontend.progress-bar
            h4 Backend
            .progress-background
              #bar-backend.progress-bar
            h4 Culture
            .progress-background
              #bar-culture.progress-bar
            h4 Design
            .progress-background
              #bar-design.progress-bar

        #question-pane
          h2#category Category
          h2#question Question

          ul#answers
            li
              #a1.clickable Answer 1
            li
              #a2.clickable Answer 2
            li
              #a3.clickable Answer 3
            li
              #a4.clickable Answer 4

          .countdown
            span#countdown
            | seconds left

        #prepare-pane
          h2#question-category
          h3#question-author

        #right-pane
          h3 Scoreboard
          ul#scoreboard

        #badge-notify
          img(src="/img/rampage.png")
          .name Daniel H
          .description rampage

    .display-overlay
    .display-gradient

  #view-chat
    .chat
      .caption Chat
      form#chat-form
        input(type='text', id='chat-msg')
      .display-overlay

    .slot

    .paper
      .slot-shadow
      ul#messages
      .paper-bottom

  - if (everyauth.user)
    #userid(style="display: none;") #{everyauth.user.id}
