.view-container
  .display
    - if(!everyauth.loggedIn)
      #view-login
        h2 Welcome
        ul
          li
            a.clickable(href="/auth/twitter") Login with Twitter
          li
            a.clickable(href="/auth/facebook") Login with Facebook

    - else
      script(type="text/javascript")
        var host = "#{host}";
        var port = "#{port}";
      script(type="text/javascript", src="/image.js")
      script(type="text/javascript", src="/particle.js")
      script(type="text/javascript", src="/intro.js")
      script(type="text/javascript", src="/client.js")
      #view-wait
        h2#header-countwait Please wait for the next question
        #countwait
      #view-prepare
        h2#question-category
        h3#question-author
      #view-game.view-content
        #left-pane
          h3 Profile

        #question-pane
          h2#question Question
          ul#answers
            li
              #a1.clickable Answer 1
            li
              #a2.clickable Answer 2
            li
              #a3.clickable Answer 3
            li
              #a4.clickable Answer 4  
          
          .countdown Countdown&nbsp;
            span#countdown

        #right-pane
          h3 Scoreboard
          ul#scoreboard

    .display-overlay
    .display-gradient

  - if(everyauth.loggedIn)
    #view-chat
      .chat CHAT
        form#chat-form
          input(type='text', id='chat-msg')
        .display-overlay

      .slot

      .paper
        .slot-shadow
        ul#messages
        .paper-bottom

  - if (everyauth.user)
    #userid(style="display: none;") #{everyauth.user.id}