border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

border-left-radius(n)
  -webkit-border-top-left-radius n
  -webkit-border-bottom-left-radius n
  -moz-border-top-left-radius n
  -moz-border-bottom-left-radius n
  -border-top-left-radius n
  -border-bottom-left-radius n

shadow(c)
  -moz-box-shadow:    0 1px 0px 0 c
  -webkit-box-shadow: 0 1px 0px 0 c
  box-shadow:         0 1px 0px 0 c

top-shadow(c)
  -moz-box-shadow:    inset 0 3px 4px 0px c
  -webkit-box-shadow: inset 0 3px 4px 0px c
  box-shadow:         inset 0 3px 4px 0px c

hard-top-shadow(c)
  -moz-box-shadow:    inset 0 3px 2px 0px c
  -webkit-box-shadow: inset 0 3px 2px 0px c
  box-shadow:         inset 0 3px 2px 0px c

transition(a, t)
  -webkit-transition a t ease
  -moz-transition a t ease
  -o-transition a t ease