border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

border-left-radius(n)
  -webkit-border-top-left-radius n
  -webkit-border-bottom-left-radius n
  -moz-border-top-left-radius n
  -moz-border-bottom-left-radius n
  -border-top-left-radius n
  -border-bottom-left-radius n

border-right-radius(n)
  -webkit-border-top-right-radius n
  -webkit-border-bottom-right-radius n
  -moz-border-top-right-radius n
  -moz-border-bottom-right-radius n
  -border-top-right-radius n
  -border-bottom-right-radius n

border-bottom-right-radius(n)
  -webkit-border-bottom-right-radius n
  -moz-border-bottom-right-radius n
  -border-bottom-right-radius n

shadow(c)
  -moz-box-shadow:    0 1px 0px 0 c
  -webkit-box-shadow: 0 1px 0px 0 c
  box-shadow:         0 1px 0px 0 c

top-shadow(c)
  -moz-box-shadow:    inset 0 3px 4px 0px c
  -webkit-box-shadow: inset 0 3px 4px 0px c
  box-shadow:         inset 0 3px 4px 0px c

hard-top-shadow(c)
  -moz-box-shadow:    inset 0 3px 2px 0px c
  -webkit-box-shadow: inset 0 3px 2px 0px c
  box-shadow:         inset 0 3px 2px 0px c

small-top-shadow(c)
  -moz-box-shadow:    inset 0 1px 0px 0px c
  -webkit-box-shadow: inset 0 1px 0px 0px c
  box-shadow:         inset 0 1px 0px 0px c

transition(a, t)
  -webkit-transition a t ease
  -moz-transition a t ease
  -o-transition a t ease

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
  background-color startColor
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

background-half-gradient(startPoint, startColor, startInterval, endColor, endInterval)
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval, startColor endInterval, startColor 100%)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval, startColor endInterval, startColor 100%)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval, startColor endInterval, startColor 100%)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval, startColor endInterval, startColor 100%)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval, startColor endInterval, startColor 100%)

backround-stripes(color)
  background-color: color
  -webkit-background-size 4px 20px
  -moz-background-size 4px 20px
  background-size 4px 20px
  background -webkit-repeating-linear-gradient(left, color, color 2px, rgba(255,255,255,0) 2px, rgba(255,255,255,0) 4px)
  background -moz-repeating-linear-gradient(top left 360deg, color, color 2px, rgba(255,255,255,0) 2px, rgba(255,255,255,0) 4px)
  background repeating-linear-gradient(left, color, color 2px, rgba(255,255,255,0) 2px, rgba(255,255,255,0) 4px)
