border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

border-left-radius(n)
  -webkit-border-top-left-radius n
  -webkit-border-bottom-left-radius n
  -moz-border-top-left-radius n
  -moz-border-bottom-left-radius n
  -border-top-left-radius n
  -border-bottom-left-radius n