@import "_mixins.styl"

html
  height 100%

body
  padding 0
  margin 0
  font 15px 'SilkscreenNormal', Arial, sans-serif
  background-image url(/img/background.png)
  text-align: center
  color #566050
  height 100%

h1, h2, h3
  font-weight normal

.view-container
  min-height 100%

.clearfix:after
  content "."
  display block
  clear both
  visibility hidden
  line-height 0
  height 0
 
.clearfix 
  display inline-block

#container
  margin 0
  padding 0
  margin-left auto
  margin-right auto
  width 880px
  min-height 100%

#header
  padding-top 30px

#wrapper
  padding: 0
  margin: 0
  margin-top: 24px

.display
  position relative
  border-radius(15px)
  background-color #dff8d0
  border 1px solid #000
  shadow(rgba(white, 0.25))
  padding-bottom: 20px
  min-height 350px

.stripes
  background-image url(/img/screenbg.png)

.display-overlay
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  background-image url(/img/stripes.png)
  border-radius(14px)
  pointer-events none

.display-gradient
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  top-shadow(rgba(black, 0.6))
  background-half-gradient(304deg, rgba(255,255,255,0), 0%, rgba(255,255,255,0.1), 50%)
  border-radius(14px)
  pointer-events none

#view-wait, #view-login, #prepare-pane
  h2
    margin-top 72px

#view-login
  ul
    list-style none
    padding 0
    li
      padding-bottom 8px

#left-pane
  position absolute
  padding-top: 20px
  top 0
  left 20px
  width 160px
  height 100%
  text-align left
  h3
    color #e0f8d1
    text-align center
    width 160px

  #profile-image
    display none

  #canvas-container
    width 160px
    text-align center
    display none

#prepare-pane
  position absolute
  top 0
  left 200px
  text-align center
  padding 20px
  padding-left 40px
  width 430px

#question-pane
  position absolute
  top 0
  left 200px
  text-align left
  padding 20px
  padding-left 40px
  width 430px

  h2
    font-size 15px
    margin-top 0

#right-pane
  position absolute
  top 0
  right 10px
  height 100%
  width 135px
  text-align left
  h3
    color #e0f8d1
    font-size: normal

  ul
    list-style none
    padding 0
    margin 0
    li
      margin 0
      padding 0
      color #566050

#view-chat
  margin-top 20px
  padding 10px
  border-radius 10px
  height 40px
  background-linear-gradient(top, #767676, 0%, #4b4b4b, 100%)
  border 1px solid #000
  small-top-shadow(rgba(white, 0.2))

.chat
  margin 0
  padding 0
  padding-left 8px
  padding-right 8px
  padding-top 1px
  position relative
  border-radius(15px)
  background-color #e4f9d7
  border 1px solid #000
  min-height 20px
  text-align left
  color #e0f8d1
  background-image url(/img/chatbg.png)
  background-repeat repeat-y
  shadow(rgba(white, 0.5))
  hard-top-shadow(rgba(black, 0.6))
  form
    display inline
    input
      margin-left 20px
      border none
      background-color #e4f9d7
      background transparent
      width 766px
      outline none
      font 16px 'SilkscreenNormal', Arial, sans-serif
      color #566050

.slot
  margin 0
  margin-top 8px
  border-radius(3px)
  height 6px
  background-color #181818
  shadow(rgba(white, 0.5))

.paper
  margin-top -3px
  margin-left 5px
  margin-right 6px
  text-align left
  position relative
  
  .slot-shadow
    height 10px
    position absolute
    top 0
    left 0
    width 100%
    z-index 99999
    hard-top-shadow(rgba(black, 0.6))

  ul
    margin 0
    margin-top -3px
    padding 0
    list-style none
    li
      height 0px
      overflow hidden
      transition(height, 0.5s)
      position relative

      .message-wrapper
        font 14px 'MyUnderwoodRegular', 'SilkscreenNormal', Arial, sans-serif
        overflow hidden
        white-space nowrap
        background-image url(/img/paper.png)
        background-repeat repeat-y
        padding-left 27px
        padding-right 27px
        padding-top 8px
        padding-bottom 7px
        width 100%
        position absolute
        bottom 0px
        .name
          color #000
        .a
          color #000

  .paper-bottom
    background-image url(/img/paper-bottom.png)
    background-repeat repeat-x
    height 17px
    width 100%

.listcontainer
  padding 20px

  ul
    list-style none
    padding 0

    li
      padding-top 10px
  
ul#answers
  list-style none
  padding-left 0
  li
    min-height 24px
    padding-bottom 2px
    .correct
      background-image url(/img/correct.png)
      background-repeat no-repeat
      background-position 390px center
    .wrong
      background-image url(/img/wrong.png)
      background-repeat no-repeat
      background-position 390px center

a
  color #566050
  text-decoration none
  
.tab_container
  clear both
  float left
  width 100%
  
.clickable
  padding 4px
  width 400px
  display inline-block
  cursor pointer
  color #eff9d6
  background-color #9dad92

.clickable:hover
  background-color #6c7565
  opacity 0.7  
  
.selected
  background-color #6c7565

.selected:hover
  background-color #6c7565
  opacity 1

.profile
  h3
    margin-top 20px
    margin-bottom 4px

  .profile-list
    text-align left
    padding 0
    margin 0

    .score
      width 332px
      text-align right
      display inline-block
    .details
      padding-left 20px
      display inline-block
      color #9dad92
